<form accept-charset="UTF-8" action="/log_in" method="post" class="new_user">
  <input name="utf8" type="hidden" value="&#x2713;" />
  <label for="session_email">Email</label>
  <input class="form-control" id="session_email"
         name="session[email]" type="text" />
  <label for="session_password">Password</label>
  <input id="session_password" name="session[password]"
         type="password" />
  <br>
  <input class="btn btn-primary" name="commit" type="submit"
       value="Log in" />
</form>

<%= link_to "新規登録", sign_up_path %>